<h1 id="logo">Foxy Fox</h1>
<div id="subheader">
  <h3>A Classy Lifestyle-Maintaining App</h3>
  <h3>For Your Classy Pet Fox</h3>
</div>

<div id="buttons">
  <div class="button" id="category_button">
    <a href="/categories">Browse Foxy Items For Sale By Category</a>
  </div>

  <div class="button" id="create_button">
    <a href="/create">Post A New Foxy Item To Our Marketplace</a>
  </div>
</div>

<img id="fox" src='../sassy_fox.jpg'>
